footer { font-size: 90%; }

#foxy {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}


/* Small devices, phones */
@media only screen and (min-width : 480px) {
  #foxy {
    min-width: 40px;
    float: center;
    padding: 10px 10px 10px 20px;
    display: block;
  }

}